/* Created by: Ava Venturino
 * Created on: Sep 2020
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: bisque;
}

h1 {
  background-color: rgb(222 184 135);
  color: hsl(333deg 37% 94%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #E9967A;
}

ul {
  color: lightcoral;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: salmon;
  border: 1px lightcoral;
  text-align: left;
}

td {
  height: 2rem;
  background: lightsalmon;
  border: 1px solid black;
  text-align: center;
}

}
