/* Created by: Ava Venturino
 * Created on: Feb 27
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML
*/

body {
  background-color:bisque;
}

h1 {
  background-color: rgb(222 184 135);
  color: hsl(333deg 37% 94%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #E9967A;
}
